*{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
font-family: 'Quicksand', sans-serif;   


}
body{
    flex-direction: row;
    justify-content: right;
}


